/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 20px 10px;
}

.list-container h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.basic-list {
    list-style-type: none;
}

.basic-list li {
    padding: 10px;
    font-size: 16px;
    color: #444;
    border-bottom: 1px solid #ddd;
}

.basic-list li:last-child {
    border-bottom: none;
}
